<div class="content">
    <nav class="breadcrumb">
        <a class="breadcrumb-item" [routerLink]="['/']">Home</a>
        <span class="breadcrumb-item active">Terms &amp; Conditions</span>
    </nav>
    <div class="row">
        <div class="col-12">
            <h1>Terms &amp; Conditions</h1>
            <p>PLEASE READ THESE TERMS AND CONDITIONS (“TERMS”) CAREFULLY BEFORE USING THE WEBSITE LOCATED AT
                www.ideal.sg (“WEBSITE”) AND/OR ANY SERVICES THEREIN. BY PROCEEDING ANY FURTHER IN THE WEBSITE, YOU
                ACKNOWLEDGE THAT YOU HAVE READ AND UNDERSTOOD THESE TERMS AND THAT YOU AGREE TO BE BOUND BY THEM. IF YOU
                DO NOT AGREE TO ALL OF THE TERMS, YOU ARE NOT AN AUTHORIZED USER OF THIS WEBSITE AND YOU SHOULD STOP
                USING THIS WEBSITE.</p>
            <p> IDEAL ADVISORS PTE LTD AND IDEAL GROUP OF COMPANIES (“IDEAL”) RESERVES THE RIGHT TO ALTER SUPPLEMENT ADD
                OR REMOVE ANY TERMS AT ANY TIME. WE WILL REFLECT SUCH CHANGES OR ADDITIONS BY UPDATING THESE TERMS AND
                SUCH CHANGES SHALL BE EFFECTIVE IMMEDIATELY UPON POSTING. BY ACCESSING OUR WEBSITE AFTER WE HAVE POSTED
                CHANGES TO THESE TERMS, YOU ARE AGREEING TO THESE TERMS AS MODIFIED. WE THEREFORE ENCOURAGE YOU TO
                REGULARLY VISIT THIS PAGE TO FAMILIARIZE AND UPDATE YOURSELF AS TO THESE TERMS.</p>
            <h2> Disclaimer </h2>
            <p> Nothing contained on this Website constitutes financial, tax, legal, insurance or investment advice.
                Neither the information, nor any opinion, contained on this Website constitutes a solicitation or offer
                by Ideal or its affiliates to buy or sell any securities, futures, options or other financial
                instruments, nor shall any such security be offered or sold to any person in any jurisdiction in which
                such offer, solicitation, purchase, or sale would be unlawful under the securities laws of such
                jurisdiction. Decisions based on information contained on this Website are the sole responsibility of
                the visitor. </p>
            <p> Before acquiring the shares or interests of any fund by purchase or exchange, it is your responsibility
                to read the fund’s offering memorandum.</p>
            <p> The information and services provided on this Website are provided "AS IS" and without warranties of any
                kind, either expressed or implied. To the fullest extent permissible pursuant to applicable law, Ideal
                disclaims all warranties, including, but not limited to, any warranty of non-infringement of third-party
                rights and any implied warranties of merchantability and fitness for a particular purpose. Ideal does
                not warrant, either expressly or impliedly, the accuracy or completeness of the information, text,
                graphics, links or other items contained on this Website and does not warrant that the functions
                contained in this Website will be uninterrupted or error-free, that defects will be corrected, or that
                the Website will be free of viruses or other harmful components. Ideal expressly disclaims all liability
                for errors and omissions in the materials on this Website and for the use or interpretation by others of
                information contained on the Website.</p>
            <h2> Indemnity </h2>
            <p> You agree to defend, indemnify and hold harmless Ideal, its affiliates and each of their respective
                officers, directors, members, partners, managers and employees against any losses, damages, claims,
                liabilities and costs (including reasonable attorneys fees) to the extent resulting from or arising from
                your use of this Website, from your violation of these Terms or from any unauthorized or otherwise
                inappropriate use of any of the content of this Website attributable to you or which occurs through the
                use of your ID.</p>
            <h2> Trademarks, Copyrights and other Intellectual Property </h2>
            <p> The content contained on this Website is owned or licensed by Ideal and its third-party information
                providers and is protected by applicable copyrights, trademarks, service marks, and/or other
                intellectual property rights. Such content is solely for your personal, non-commercial use. Accordingly,
                you may not copy, distribute, modify, post, frame or deep link this Website, including any text,
                graphics, video, audio, software code, user interface design or logos. You may download material
                displayed on this Website for your personal use provided you also retain all copyright and other
                proprietary notices contained on the materials. You may not distribute, modify, transmit, reuse, repost,
                or use the content of this Website for public or commercial purposes, including all text, images, audio,
                and video, without Ideal's written permission. Modification or use of the materials for any other
                purpose violates Ideal's intellectual property rights.</p>
            <p> All trademarks, service marks, trade names, and logos displayed on this Website are proprietary to Ideal
                and/or their respective owners. Nothing contained on this Website should be construed as granting, by
                implication, estoppel, or otherwise, any license or right to use any trademark displayed on this Website
                without the written permission of Ideal or such other third party that may own the trademark displayed
                on this Website. Your use of the trademarks displayed on this Website, except as provided herein, is
                strictly prohibited.</p>
            <p> The use of the images displayed on this Website by you, or anyone else authorized by you, is prohibited.
                Any unauthorized use of the images may violate copyright laws, trademark laws, and the laws of privacy
                and publicity, and communications, as well as other regulations and statutes. If you download any
                information from this Website, you agree that you will not copy it or remove or obscure any copyright or
                other notices or legends contained in any such information.</p>
            <h2> Prohibited Uses </h2>
            <ul>
                <li> Except as otherwise stated in these Terms or as expressly authorized by Ideal in writing, you may
                    not:
                </li>
                <li> Use this Website in any manner that could damage or overburden any Ideal server, or any network
                    connected to any Ideal server, as all servers have limited capacity and are used by many people;
                </li>
                <li> Use this Website in any manner that would interfere with another party’s use of the Website;</li>
                <li> Include the term “Ideal Advisors, Ideal Wealth Management, Ideal Finance, Ideal Capital and/or
                    Ideal Fiduciary,” or any Ideal trademark or executive’s name, or any variation of the foregoing, as
                    a meta-tag, hidden textual element;
                </li>
                <li> Use any robot, spider, intelligent agent, other automatic device, or manual process to search,
                    monitor or copy this Website or the reports, data, information, content, software, products
                    services, or other materials on, generated by or obtained from this Website, whether through links
                    or otherwise (collectively, “Materials”), without Ideal’s permission, provided that generally
                    available third-party web browsers may be used without such permission; or
                </li>
                <li> Use this Website or the Materials in any manner that could create impression of affiliation,
                    sponsorship or endorsement by Ideal.
                </li>
            </ul>
            <h2> Forward looking statements</h2>
            <p> The information contained on this Website may contain forward-looking statements, with respect to
                Ideal’s or any fund’s future financial or business performance, strategies or expectations.
                Forward-looking statements are typically identified by words or phrases such as “trend,” “potential,”
                “opportunity,” “pipeline,” “believe,” “comfortable,” “expect,” “anticipate,” “current,” “intention,”
                “estimate,” “position,” “assume,” “outlook,” “continue,” “remain,” “maintain,” “sustain,” “seek,”
                “achieve,” and similar expressions, or future or conditional verbs such as “will,” “would,” “should,”
                “could,” “may” or similar expressions.</p>
            <p> Ideal cautions that forward-looking statements are subject to numerous assumptions, risks and
                uncertainties, which change over time. Forward-looking statements speak only as of the date they are
                made, and Ideal assumes no duty to and does not undertake to update forward-looking statements. Actual
                results could differ materially from those anticipated in forward-looking statements and future results
                could differ materially from historical performance.</p>
            <p> The following factors, among others, could cause actual results to differ materially from
                forward-looking statements or historical performance: (1) the introduction, withdrawal, success and
                timing of business initiatives and strategies; (2) changes in political, economic or industry
                conditions, the interest rate environment or financial and capital markets, which could result in
                changes in demand for products or services or in the value of assets under management; (3) the relative
                and absolute investment performance of Ideal's investment products, including its separately managed
                accounts; (4) the impact of increased competition; (5) the impact of capital improvement projects; (6)
                the impact of future acquisitions or divestitures; (7) the unfavorable resolution of legal proceedings;
                (8) the extent and timing of any share repurchases; (9) the impact, extent and timing of technological
                changes and the adequacy of intellectual property protection; (10) the impact of legislative and
                regulatory actions and reforms and regulatory, supervisory or enforcement actions of government agencies
                relating to Ideal; (11) terrorist activities and international hostilities, which may adversely affect
                the general economy, domestic and local financial and capital markets, specific industries, and Ideal;
                (12) the ability to attract and retain highly talented professionals; (13) fluctuations in foreign
                currency exchange rates, which may adversely affect the value of advisory fees earned by Ideal; (14) the
                impact of changes to tax legislation and, generally, the tax position of the Company; and (15) Ideal's
                success in maintaining the distribution of its products.</p>
            <h2>Password Security and Notification </h2>
            <p>Certain parts of the Website are protected by passwords or require a login and are restricted to
                authorized users only. You may not obtain unauthorized access to such parts of the Website, or to any
                other protected materials or information, through any means not intentionally made available by Ideal
                for your specific use. If you have a Personal Identification Number (PIN) for access to non-public areas
                of the Website, you are solely responsible for all activities that occur in connection with your PIN.
                Accordingly, you should take all reasonable steps to protect the confidentiality of your PIN. Notify
                Ideal immediately if you become aware of any disclosure, loss, theft or unauthorized use of your
                PIN.</p>
            <h2>Links to Other Websites </h2>
            <p>Ideal may establish links between this Website and one or more websites operated by third parties. Ideal
                has no control over any such other websites, the contents therein or the products/services offered. The
                existence of any such links shall not constitute an endorsement of, or representation or warranty by
                Ideal regarding such websites, the contents of the websites, the products or services of the websites or
                the operators of the websites. Your access to and use of such linked websites is governed by the terms
                of use and privacy policies of those sites, and shall be at your own risk. Ideal disclaims
                responsibility for the privacy policies and customer information practices of third-party internet
                websites hyperlinked from our Website.</p>
            <h2>Links to Ideal from Other Websites </h2>
            <p> You shall not display hyperlinks on your websites to any website owned or operated by Ideal. If you
                desire to display on your website a hyperlink to an Ideal website, you must enter into a written
                agreement with Ideal governing such display. Access to any Ideal website does not authorize you to use
                any of Ideal's names, logos, trademarks or copyrighted material, and you agree not to do so without
                Ideal's express written consent. Requests to display hyperlinks on your websites to Ideal websites
                should be e-mailed to legal [at] ideal [dot] sg.</p>
            <h2>Communications</h2>
            <p>Any notice or communication under or in connection with these Terms shall be in writing and in the
                English or German language and shall be delivered by email. Ideal shall be free to use, for any purpose,
                any ideas, concepts, know-how, or techniques provided by a website user to Ideal through this
                Website. </p>
            <p>You acknowledge and agree that you accept full responsibility for the security and authenticity of all
                communications sent by you to Ideal via email and you agree to be bound by all such communications.
                Ideal shall be entitled to assume that all instructions or communications received from your email
                account are from you and Ideal shall be under no obligation whatsoever to verify that such instructions
                or communications is in fact that of or from you.</p>
            <p>You further agree and acknowledge that you understand and accept the risks of interception, breach of
                confidentiality and alteration, virus infection, among others, inherent in the use of email and the
                Internet; and that you agree to hold us harmless from and against any and all claims arising out of or
                resulting from the delivery or failure of communications via email or any infection of computer
                virus.</p>
            <p>In the event that either party suspects that the other is not receiving the correct communication via
                email, that party shall communicate with the other using telephone, facsimile, telegraphic and such
                other devices as may be necessary.</p>
            <h2>Privacy Policy </h2>
            <p>Please review our <a [routerLink]="['/privacy-policy']">Privacy Policy</a>, which
                is a part of this Agreement and hereby incorporated by reference, to learn about our information
                collection practices and the measures we take to preserve the privacy and security of your information.
            </p>
            <h2>Jurisdiction and Governing Law </h2>
            <p>The information provided on this Website is not intended for distribution to, or use by, any person or
                entity in any jurisdiction or country where such distribution or use would be contrary to law or
                regulation or which would subject Ideal or its affiliates to any registration requirement within such
                jurisdiction or country. This Website will not be considered a solicitation for or offering of any
                investment product or service to any person in any jurisdiction where such solicitation or offering
                would be illegal.</p>
            <p>The laws of Singapore govern these Terms without regard to conflict of law provisions. If you take legal
                action relating to these Terms, you agree to file such action only in Singapore, and you consent and
                submit to the personal jurisdiction of those courts for the purpose of litigating any action with Ideal
                or its affiliates.</p>
            <h2>Limitation of Liability </h2>
            <p>IDEAL AND ITS AFFILIATES AND THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES OR AGENTS WILL NOT BE LIABLE
                TO YOU OR ANYONE ELSE FOR ANY DAMAGES OF ANY KIND, INCLUDING, BUT NOT LIMITED TO, DIRECT, CONSEQUENTIAL,
                INCIDENTAL, SPECIAL OR INDIRECT DAMAGES (INCLUDING BUT NOT LIMITED TO LOST PROFITS, TRADING LOSSES OR
                DAMAGES THAT RESULT FROM USE OR LOSS OF USE OF THIS WEBSITE), EVEN IF IDEAL HAS BEEN ADVISED OF THE
                POSSIBILITY OF SUCH DAMAGES OR LOSSES, INCLUDING, WITHOUT LIMITATION, FROM THE USE OR ATTEMPTED USE OF
                THIS WEBSITE OR ANOTHER LINKED WEBSITE.</p>
            <p>IF YOU LIVE IN A STATE THAT DOES NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY OR INCIDENTAL OR
                CONSEQUENTIAL DAMAGES, OR IF YOU ACCESS THE WEBSITE SOLELY THROUGH AN ARRANGEMENT WITH YOUR EMPLOYER OR
                PLAN SPONSOR, SOME OR ALL OF THESE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU.</p>
            <h2>Timeliness of Content </h2>
            <p>All content on this Website is presented only as of the date published or indicated, and may be
                superseded by subsequent market events or for other reasons. In addition, you are responsible for
                setting the cache settings on your browser to ensure you are receiving the most recent data.</p>
            <h2>Termination </h2>
            <p>Ideal may suspend or terminate your access to the Website for any reason, without prior notice.</p>
            <h2>Waiver </h2>
            <p>The waiver by us of a breach or default in any of the provisions of these Terms and Conditions by you
                shall not be construed as a waiver of any succeeding breach of the same or other provisions, nor shall
                any delay or omission on the part of us to exercise or avail itself of any right, power or privilege
                that is has or may have hereunder operate as a waiver of any breach or default by you.</p>
            <h2>Severability </h2>
            <p>If any provision of these Terms is found by any court of competent jurisdiction to be invalid or
                unenforceable, the invalidity of such provision shall not affect the other provisions of these terms and
                conditions, and all provisions not affected by such invalidity shall remain in full force and
                effect.</p>
            <h2>Entire Agreement</h2>
            <p>The Terms represent the entire agreement between Ideal and the user relating to the subject matter
                herein.</p>
            <h2>Terms and Interpretations</h2>
            <p>Clause headings in these Terms are for ease of references only. Words importing the singular number
                include the plural and words importing the plural number include the singular, and words importing the
                masculine gender only shall include the feminine and neuter genders. Words importing persons shall
                include firms, corporations, trusts, companies and incorporated and unincorporated bodies. A person who
                is not a party to these Terms shall have no right to enforce or enjoy the benefits of any provision of
                these Terms and any applicable laws providing for the contrary shall to the extent permissible be
                excluded. </p>
            <p>The terms, phrases and words used in any prospectus, offering memorandum, information sheet or any other
                documents of any funds, products or services contained in the Website may differ from that used in these
                Terms even though they may be ascribed to and are describing the same thing. In relation to your use of
                this Website, the terms, phrases and words as defined and used in these Terms shall prevail. </p>
        </div>
    </div>
</div>