<div class="content">
    <div class="row">
        <div class="col-12 col-md-8 col-sm-12">
            <div id="page-content">
                <h1>A Clear View</h1>
                <p class="intro">Ideal Advisors most important distinction is that the advisors have a share in the
                    ownership of the firm. As clients are the most important asset of the advisors, our priority is to
                    naturally put clients first. When clients work with Ideal Advisors, they know that the advisors
                    measure themselves against enduring standards: Are my clients’ interest served to the best standard?
                    Am I providing the best research and technology? Are there any other options left for me to cover
                    before I am certain that I have offered the best solution? It is a straightforward arrangement best
                    summed up in the words beneath the Ideal name: a clear view.</p>
                <h4>The Crisis of Confidence</h4>
                <p>After all the recent downturns and events in the financial markets, it is easy in hindsight to build
                    the case for transparent and sound investor guidance... We only have to look at newspapers and other
                    media channels to get an idea. A critic may add that the notion of traditional banking (especially
                    in the area of guidance) needs some serious work</p>
                <p>We were able to spot the growing crisis of confidence among investors well before the current
                    financial crisis. Ideal Advisors was our answer; an alternative built on a very simple and clear
                    idea: doing what is best for investors, 100% of the time. </p>
                <h4>Security in Uncertain Times</h4>
                <p>Currently, perhaps nothing is more important than knowing that your assets are in strong and trusted
                    hands. With that in mind, Ideal Advisors has made the choice to partner with several major and
                    reputable firms for custody and clearing services. This provides the Ideal Advisor with a choice and
                    flexibility among well known and highly trusted partners to best cater for clients’ needs, in the
                    most trustworthy manner. </p>
            </div>
        </div>
        <div class="col-12 col-md-4 col-sm-12">
            <div id="sidebar">
                <blockquote>After the recent developments in the financial markets, many investors have lost trust in
                    the traditional model. Ideal Advisors’ mission is to restore confidence in clients with a current
                    approach and to keep their interest safe.
                </blockquote>
                <p class="author">Dr. Knut Unger, CLO of Ideal Wealth Management</p>
            </div>
        </div>
    </div>
</div>