<footer>
    <div class="row">
        <div class="col-6 col-sm-6"><p>© 2010 Ideal Wealth Management Pte Ltd. All Rights Reserved.</p></div>
        <div class="col-6 col-sm-6">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/privacy-policy']">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/terms-conditions']">Terms & Conditions</a>
                </li>
            </ul>
        </div>
    </div>
</footer>