p {
    font-size: 1.2em;
    line-height: 18px;
}

/* Header CSS */
header {
    height: 102px;
    background: #28282a; /* Old browsers */
    background: -moz-linear-gradient(top, #28282a 0%, #29292b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #28282a 0%, #29292b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #28282a 0%, #29292b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#28282a', endColorstr='#29292b', GradientType=0); /* IE6-9 */
}

/* Content CSS */
.content {
    background: #ffffff;
    padding: 20px 20px 20px 20px;
}

.breadcrumb {
    background-color: #ffffff;
    font-size: 11px;
}

.content a, .content a:hover {
    color: #00639A;
    text-decoration: underline;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">>";
}

h1 {
    font-size: 2.4em;
    line-height: 36px;
    letter-spacing: -1px;
    padding: 9px 0;
    font-weight: bold;
}

h2 {
    font-size: 1.8em;
    line-height: 18px;
    padding: 9px 0;
    font-weight: bold;
}

h1, h2, h3 {
    color: #0B0B0D;
}

h3 {
    font-size: 1.4em;
    line-height: 18px;
    padding: 9px 0;
    font-weight: bold;
}

.content p {
    margin-bottom: 18px;
}

.content ul {
    line-height: 18px;
    font-size: 1.2em;
    margin-bottom: 18px;
}