<div class="content">
  <form [formGroup]="form" class="pt-0">
    <div class="form-group" [ngClass]="validate.displayFieldCss(form, 'category')">
      <label for="recipient">Category:</label>
      <select class="form-control" id="recipient" formControlName="category">
        <option value="">[Select Category]</option>
        <option *ngFor="let item of categories" [value]="item.id">{{item.name}}</option>
      </select>
    </div>
    <div class="form-group" [ngClass]="validate.displayFieldCss(form, 'name')">
      <label for="subj">Title</label>
      <input type="text" class="form-control" id="subj" placeholder="" formControlName="name">
    </div>

    <div id="orderbtn">
      <button (click)="add()">Add &gt;&gt;</button>
      <button (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
