.content{
  background: #fff;
  padding:20px 20px 20px 20px;
}
.content h3{
  color: #000;
  font-weight: bold;
}
.message-detail p{
  font-size:13px;
  color:black;
}
.message-detail{
  padding:2%;
}
.message-detail p{
  margin-bottom:2px;
}
.btn_detail{
  font-size:13px;
}
