<div class="content">
    <div class="row">
        <div class="col-12 col-md-8 col-sm-12">
            <div id="page-content">
                <h1>Align your business interests with best interests of your advisors</h1>
                <p>The notion of a company offering investors and advisers greater independence and transparency has
                    become more important in lieu of the current market mood and recent events in the financial markets.
                    ‘Brokerage as usual’ is simply not enough to meet clients’ needs today</p>
                <h2>Freedom To Focus</h2>
                <p>For advisors independence comes with a heavy price – namely in taking risks and having to face
                    complexities. However Ideal Advisors negates these problems and offers very attractive solutions.
                    Advisors wishing to set up their own business do not have to worry about finding an attractive
                    office space, setting up technology or having to battle compliance issues or handling legalities.
                    Ideal Advisors handles all these issues and more, with no cost. That leaves the advisor to focus on
                    clients from day one, without having to lose any time to battle with issues in setting up their
                    business.</p>
                <h2>A New Opportunity</h2>
                <p>Many companies are still stuck with an archaic, complex and deeply conflicted business models. Ideal
                    Advisors is aware of the shortcomings of these handicaps. Wherever you are today, Ideal provides the
                    opportunity to make a seamless transition from where you are now to independence. Ideal Advisors
                    will support you in all aspects and enhance your business proposition. The approach here is to not
                    enrich the firm with measures of profitability but to add value to yourself and to your clients.</p>
                <h2>True Autonomy</h2>
                <p>As an Ideal advisor, you will manage your own clients and portfolios, and have strategic input in the
                    company itself. Our advisors will:</p>
                <ul>
                    <li>Be equity owners as well as receive the benefits of being employees</li>
                    <li>Own a significant percentage of the business</li>
                    <li>Have an active voice in the strategic direction of the firm</li>
                    <li>Enjoy improved home economy as a result of growth</li>
                </ul>
                <h2>What We Offer</h2>
                <h3>Ownership & Succession</h3>
                <ul>
                    <li>Equity ownership</li>
                    <li>Succession planning</li>
                </ul>
                <h3>Infrastructure & Technology</h3>
                <ul>
                    <li>Office space</li>
                    <li>Systems, HR, accounting, legal and compliance support</li>
                    <li>Advanced technology solutions</li>
                </ul>
                <h3>Platform & Services</h3>
                <ul>
                    <li>Open architecture</li>
                    <li>High-level relationships</li>
                    <li>Internal and external research</li>
                    <li>Transition support</li>
                    <li>Start-up costs</li>
                    <li>Client stability</li>
                    <li>Litigation team</li>
                </ul>
                <h2>Embrace Change</h2>
                <p>Times are changing rapidly and most ways are becoming outdated. It is crucial to keep up with current
                    times and have a clear vision of the future. The recent financial crisis has shaken what was left of
                    the confidence in old school Wall Street brokerage firms. Advisors who remain with the old business
                    models will not be able to cater to their clients’ needs fully, leading to deteriorating quality of
                    their reputation and declining brand value.</p>
                <p>We can take you forward. <a [routerLink]="['/about-us']">Contact Us Today</a></p>
            </div>
        </div>
        <div class="col-12 col-md-4 col-sm-12">
            <div id="sidebar">
                <blockquote>The most fundamental question advisors should be asking is: ‘What is the next model for
                    financial advisory firms?’... I firmly believe that the next model is the advisor owned firm, which
                    allows for a platform where a foundation truly grows.
                </blockquote>
                <p class="author">Atilla Torgay, CEO of Ideal Wealth Management</p>
            </div>
        </div>
    </div>
</div>