.menu .navbar-nav .nav-item .nav-link {
    background: #5a5959;
    border: #fff solid 1px;
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
}

.menu .navbar {
    padding: 0;
    background: #fff;
}

.menu ul {
    width: inherit;
}

.menu button {
    z-index: 500;
}

.menu .navbar-toggler {
    border-color: #fff;
}

.menu .navbar-toggler-icon {
    color: #000;
}

.menu .justify-content-end {
    margin-top: 0;
}

.menu .show {

}