<div class="content">
    <div class="row">
        <div class="col-12 col-md-8 col-sm-12">
            <div id="page-content">
                <h1>Contact Ideal</h1>
                <p class="intro">Ideal Advisors is a Singapore based company with private and institutional clients all
                    over the world. We are glad to assist individuals interested in finding an Ideal Advisor, and
                    respond to other inquiries. We are also available to provide information for advisors, in strictest
                    confidence, about making the transition to Ideal.</p>
                <p><strong>Call Us:</strong> +65 6595 4960<br><strong>Email Us:</strong> <a href="mailto:info@ideal.sg">info@ideal.sg</a>
                </p><br>
                <h2>Main Corporate Office</h2>
                <p>Ideal Wealth Management Pte Ltd<br>25 North Bridge Road<br>#04-01 EFG Bank Building<br>Singapore
                    179104<br><br><strong>Tel :</strong> (65) 6595 4960<br><strong>Fax :</strong> (65) 6595
                    4979<br><strong>Email : </strong><a href="mailto:info@ideal.sg">info@ideal.sg</a></p>
            </div>
        </div>
        <div class="col-12 col-md-4 col-sm-12">
            <div id="sidebar">
                <blockquote>I definitely see wealthy families losing confidence in traditional banks and brokerage
                    firms, and starting to seek greater transparency and a more holistic wealth management service.
                </blockquote>
                <p class="author">Faik Kursunoglu, Non-Executive Director Ideal Wealth Management</p>
            </div>
        </div>
    </div>
</div>