.content {
  background-color: white;
  padding: 0px 20px 20px 20px;
}

table {
  width: 100%;

  input,
  select {
    width: auto;
    height: 26px !important;
  }

  input,
  textarea {
    width: 100%;
    background-color: #ffffcc;
  }

  input[type='radio'],
  input[type='checkbox'] {
    width: auto;
    vertical-align: middle;
  }
}

.content h3 {
  color: #000;
  font-weight: bold;
}

.disc {
  font-weight: bold;
  font-size: 1.3em;
}

.btn {
  border-radius: 0;
}

.btn-secondary {
  background: #eaeaea;
  border-color: #000;
  margin-right: 10px;
}

.btn-secondary #order {
  color: #3ab43a;
}

.btn-secondary #portfolio {
  color: #d71111;
}

.content h4 {
  color: #000;
  font-weight: bold;
}

p {
  font-size: 1.2em;
}

p a {
  text-decoration: underline;
}

p a:hover {
  color: #0275d8;
}

.t-links {
  list-style: none;
}

.t-links li {
  display: inline-block;
  font-size: 1.8em;
  padding-right: 5px;
}

.col-4 .justify-content-end {
  margin-top: auto;
  font-size: 1.3em;
}

/* Tabel CSS */
.table-bordered thead td,
.table-bordered thead th {
  border-bottom-width: 1px;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #cbcbcb;
}

tbody {
  font-size: 1.1em;
}

.table td {
  vertical-align: middle;
}

.breadcrumb {
  background-color: #ffffff;
  font-size: 1.2em;
  padding-top: 20px;
}

.content a,
.content a:hover {
  color: #00639a;
  text-decoration: underline;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '|';
}

.col-6 .justify-content-end {
  margin-top: 20px;
}

.col-12 h3 {
  padding-top: 25px;
}

label {
  font-size: 1.2em;
  padding-right: 3px;
}

/* Table CSS */
thead {
  font-size: 1.4em;
}

.table thead th {
  vertical-align: middle;
}

tbody {
  font-size: 1.2em;
}
.content h6 {
  color: black;
  font-weight: bold;
}
