#client-login div.login-info {
    padding-top: 44px;
}
#client-login .login-info {
    display: block;
    width: 360px;
    float: right;
    font-size: 18px;
}

#client-login h3 {
    width: 140px;
    padding: 25px 0 25px 20px;
    margin: 0;
    float: left;
}

#bottom-bar h3 {
    display: block;
    font-size: 3.2em;
    line-height: 36px;
    letter-spacing: -1px;
    font-weight: normal;
}