<div class="may">
  <div class="content">
    <block-prospect-header></block-prospect-header>
    <h4>My NNMS</h4>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>Names
            <a href="?sort=&amp;order=asc">+</a>
            <a href="?sort=&amp;order=desc">-</a>
          </td>
          <td>Surname
            <a href="?sort=surname&amp;order=asc">+</a>
            <a href="?sort=surname&amp;order=desc">-</a>
          </td>
          <td>Relationship
            <a href="?sort=relationship&amp;order=asc">+</a>
            <a href="?sort=relationship&amp;order=desc">-</a>
          </td>
          <td>NNM
            <a href="?sort=nnm&amp;order=asc">+</a>
            <a href="?sort=nnm&amp;order=desc">-</a>
          </td>
          <td>Arrives at
            <a href="?sort=arrives_at&amp;order=asc">+</a>
            <a href="?sort=arrives_at&amp;order=desc">-</a>
          </td>
          <td>NNM by</td>
          <!-- <td>Action</td> -->
        </tr>

        <tr id="tr-2972">
          <td>Jay</td>
          <td>Inting</td>
          <td>Hot</td>


          <td>3.00</td>
          <td>0 minutes</td>
          <td>testadviser</td>
          <!-- <td style="text-align: right;">
            <a href="/erm/profile/edit/2972/">edit</a>
          </td> -->


        </tr>


        <tr id="tr-2972">
          <td>Jay</td>
          <td>Inting</td>
          <td>Hot</td>


          <td>3.00</td>
          <td>0 minutes</td>
          <td>testadviser</td>
          <!-- <td style="text-align: right;">
            <a href="/erm/profile/edit/2972/">edit</a>
          </td> -->


        </tr>

      </tbody>
    </table>
  </div>
</div>