<div class="content">
    <div class="row">
        <div class="col-12 col-md-8 col-sm-12">
            <div id="page-content">
                <h1>About Ideal Advisors</h1>
                <p class="intro">Ideal Advisors is a leading and prominent advisor owned financial services company. The
                    ownership structure makes Ideal Advisors free of conflicts typically found in traditional brokerage
                    firms and banks. Ideal Advisors is totally independent, yet fully supported by and connected to
                    prominent financial partners in order to work with clients in the most possible efficient
                    manner.</p>
                <h5>Built to Last</h5>
                <p>Ideal Advisors is fully capitalized by reputable private investors and senior financial services
                    executives, who have shown their commitment and provided their resources despite challenging market
                    conditions. Both the management team and advisors hold significant equity stakes in the company,
                    making their long term success aligned with that of the company. </p>
                <p>We were able to spot the growing crisis of confidence among investors well before the current
                    financial crisis. Ideal Advisors was our answer; an alternative built on a very simple and clear
                    idea: doing what is best for investors, 100% of the time. </p>
                <h5>Unconflicted Support</h5>
                <p>Our investors have no influence over our product selection or research, which is an issue that
                    presents conflict of interest in traditional firms. The clients share our principals on the reliance
                    of independent investment advice.</p>
                <h5>Experienced Management</h5>
                <p>Ideal Advisors evolved over considerable time, not overnight. Our management team shares the vision
                    to create the best possible financial services model to suit the current times and market
                    conditions. Each employee of the firm has had long career spans, having experienced numerous market
                    cycles. Ideal Advisors approach to changing the paradigm for financial advice and advisors aims to
                    create a stable business aligned with the need of our clients.</p>
            </div>
        </div>
        <div class="col-12 col-md-4 col-sm-12">
            <div id="sidebar">
                <blockquote>Our clients are provided with complete and sound advice as we believe firmly that we are the
                    owners of a true partnership. As fiduciaries, the interest of our clients comes first.
                </blockquote>
                <p class="author">Hauke Dinklage, Director</p>
            </div>
        </div>
    </div>
</div>