.content {
    padding: 0px 20px 20px 20px;
}


.desc {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.page-link {
    border: none;
}

.page-link:hover {
    background: #fff;
}