<div class="content">
    <div id="change-password" class="pt-3">
        <h3><span class="default-color">Change</span> password</h3>
        <form [formGroup]="form" class="pt-1">
            <div class="form-group row" [ngClass]="validate.displayFieldCss(form, 'old_password')">
                <label for="old_password" class="col-sm-2 col-form-label">Old Password</label>
                <div class="col-sm-3">
                    <input type="password" class="form-control d-block" id="old_password" placeholder="Old Password"
                           formControlName="old_password">
                </div>
            </div>
            <div class="form-group row" [ngClass]="validate.displayFieldCss(form, 'new_password')">
                <label for="new_password" class="col-sm-2 col-form-label">New Password</label>
                <div class="col-sm-3">
                    <input type="password" class="form-control d-block" id="new_password" placeholder="New Password"
                           formControlName="new_password">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 offset-sm-2 text-left">
                    <button type="submit" (click)="submit()">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>