<div class="content">
    <div class="row">
        <div class="col-12">
            <h3>Online Order</h3>
        </div>
        <div class="col-12">
            <a type="button" class="btn btn-secondary" [routerLink]="['/client/orderbuy/create']"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Buy Security</a>
            <a type="button" class="btn btn-secondary" [routerLink]="['/client/ordersell/create']"><i class="fa fa-minus-circle" aria-hidden="true"></i>&nbsp;Sell Security</a>
            <a type="button" class="btn btn-secondary" [routerLink]="['/client/orderfx/create']"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;FX Order</a>
        </div>
    </div>
</div>