.content{
    background: #fff;
    padding:20px 20px 20px 20px;
}
.content h3{
    color: #000;
    font-weight: bold;
}
.btn{
    border-radius: 0;
    font-size: 12px;
}
.btn-secondary{
    background: #eaeaea;
    border-color: #000;
    margin-right: 10px;
}