<div class="content">
    <div class="row">
        <div class="col-12 col-md-8 col-sm-12">
            <div id="page-content">
                <h1>An Ideal Career</h1>
                <p class="intro">Ideal Advisory offers a fast-paced, highly collaborative work environment that is
                    focused on a client-centric approach, while providing a wide spectrum of specialist services in the
                    financial industry. Competitive compensation and benefits helps attract some of the best talent here
                    at Ideal.</p>
                <h2>Current Positions</h2>
                <p>We have no vacancies currently available. Do check back at a later date for opportunities in the near
                    future. Thank you for your interest.</p>
            </div>
        </div>
        <div class="col-12 col-md-4 col-sm-12">
            <div id="sidebar">
                <blockquote>Ideal is a community of highly qualified advisors. As equity owners in the business,
                    advisors are encouraged to share ideas and participate in a society with similar needs.
                </blockquote>
                <p class="author">Derya Altinel, Partner of Ideal Wealth Management</p>
            </div>
        </div>
    </div>
</div>